<h1>Bookings</h1>
<div class="container">

<div class="d-flex justify-content-between">


  <div class="card-product">
    <h2>Accepter ou refuser des demandes de reservations</h2>
        <ol>
            <% @bookings_as_owner.each do |booking|  %>
              <li> <strong><% booking.user_id %>. <%= User.find(booking.user_id).email %>  <%= booking.status %></strong></li>

              <div class="accept"><%= link_to "Accepter", dashboard_accept_path(booking:booking.id), data: {method: :accept, turbo_confirm: "Are you sure?"}, class: "btn btn-accept "%></div>
              <%= link_to "Refuser", dashboard_decline_path(booking:booking.id), data: {method: :decline, turbo_confirm: "Are you sure?"}, class: "btn btn-danger text-decoration-none"  %>
            <% end %>
        </ol>

  </div>

  <div class="card-product">
    <h2>Mes demandes de reservations</h2>
        <ol>
          <% @bookings_as_renter.each do |booking|  %>
          <li><strong> <%= booking.user_id %>. <%= User.find(booking.user_id).email %> <%= booking.status %></strong></li>
          <% end %>
        </ol>

  </div>
</div>



</div>
