<h1>Booking Now</h1>

<div>
<%= simple_form_for [@car, @booking] do |f| %>
  <%= f.input :status %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>
</div>

