<div class="banner"
  style="background-image: url(<%= image_path('home_banner.gif') %>)">

  <div class="container home-page">
    <div class="barre-de-recherche">
      <h1>L'essence, c'est trop ! <strong>Passez à la location</strong> de <strong>voitures électriques</strong>!</h1>
      <h3>Louer des voitures électriques pour l'environnement</h3>
      <%= form_with url: cars_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Rechercher une voiture" %>
        <div class="search-form-control form-group text-center">
          <button name="button" type="submit" class="btn btn-flat mt-2 mb-6">
            <i class="fas fa-search"></i> Rechercher
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards-argus">
    <div class="card-argu">
      <h2>8 675</h2>
      <p>voitures éléctriques référencées sur l'appli</p>
    </div>
      <div class="card-argu">
      <h2>N°1</h2>
      <p>des locations de véhicules éléctriques</p>
    </div>
      <div class="card-argu">
      <h2>99,99%</h2>
      <p>taux de clients convaincus par notre service</p>
    </div>
      <div class="card-argu">
      <h2>4,1/5</h2>
      <p>Moyenne des avis diffusés sur la plateforme</p>
    </div>
  </div>
</div>

  <div class="card-last">
    <h2 class="titleh text-center">Voitures Ajoutées Récemment</h2>
    <div class="cards">
      <% @cars.each do |car| %>
      <%= link_to car_path(car)  do %>
      <div class="card-trip">
        <%= cl_image_tag car.photo.key %>
        <div class="card-trip-infos card-design">
          <div>
            <h2><%=car.brand%> - <%=car.model%></h2>
            <h2><%=car.city%></h2>
            <p><%=car.color%> - <%=car.kilometreage%>km</p>
            <p>Autonomie : <%=car.autonomy%>km</p>
          </div>
          <h2 class="card-trip-pricing"><%=car.price%> €</h2>
        </div>
      </div>
      <%end%>
      <% end %>
    </div>
  </div>

</div>

<div>
  <article class="logo-grid">
      <h2 class="text-center"> Nos Partenaires</h2>
    <div class="logo-grid-row">
      <div class="logo-grid-group">
        <%= image_tag 'citroen.png', class: 'logo-grid-item' %>
        <%= image_tag 'audi.png', class: 'logo-grid-item' %>
        <%= image_tag 'bmw.png', class: 'logo-grid-item' %>
        <%= image_tag 'ford.png', class: 'logo-grid-item' %>
        <%= image_tag 'hyundai.png', class: 'logo-grid-item' %>
        <%= image_tag 'nissan.png', class: 'logo-grid-item' %>
        <%= image_tag 'teslaa.png', class: 'logo-grid-item' %>
        <%= image_tag 'volvo.png', class: 'logo-grid-item' %>
        <%= image_tag 'yaris.png', class: 'logo-grid-item' %>
        <%= image_tag 'hyundai.png', class: 'logo-grid-item' %>
        <%= image_tag 'citroen.png', class: 'logo-grid-item' %>
        <%= image_tag 'audi.png', class: 'logo-grid-item' %>
        <%= image_tag 'bmw.png', class: 'logo-grid-item' %>
        <%= image_tag 'ford.png', class: 'logo-grid-item' %>
        <%= image_tag 'hyundai.png', class: 'logo-grid-item' %>
        <%= image_tag 'nissan.png', class: 'logo-grid-item' %>
        <%= image_tag 'teslaa.png', class: 'logo-grid-item' %>
        <%= image_tag 'volvo.png', class: 'logo-grid-item' %>
        <%= image_tag 'yaris.png', class: 'logo-grid-item' %>
        <%= image_tag 'hyundai.png', class: 'logo-grid-item' %>
      </div>
    </div>



  </article>
</div>

<div class="text-center container-h" style="background-image: url(<%= image_path('home_banner-2.png') %>)">
  <div class="cards-argus-bas">
      <div class="card-argu">
      <h2>35</h2>
      <p>entreprises partenaires</p>
    </div>
      <div class="card-argu">
      <h2>1 867</h2>
      <p>clients réguliers</p>
    </div>
      <div class="card-argu">
      <h2>96</h2>
      <p>modèles de voitures différentes</p>
    </div>
  </div>
  <%= link_to "Découvrez tous nos véhicules", "/cars", class: "btn btn-flat" %>
</div>


    <div class="logo-grid-row logo-grid-row-reverse">
      <div class="logo-grid-group-reverse">
        <%= image_tag 'gif.gif', class: 'logo-grid-item-reverse' %>
      </div>
    </div>
