<h1>Cars#index</h1>
<p>Find me in app/views/cars/index.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'vacances.jpg'%>);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-trip">
        <img src="<%= car.photo%>" />
        <div class="card-trip-infos">
          <div>
            <h2><%=car.title%></h2>
            <p><%=car.price%></p>
          </div>
          <h2 class="card-trip-pricing"><%=car.price%></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
