<div class="banner_index"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'vacances.jpg'%>);">
  <div class="container_index">
    <h1>Choississez la voiture electrique de vos rêves</h1>
    <p>L'essence c'est trooooop !</p>
    <%= link_to "Go back", "/", class: "btn btn-flat" %>
  </div>
</div>

<div class="container-index">
  <div class="cards">
    <% @cars.each do |car| %>
    <%= link_to car_path(car)  do %>
    <div class="card-trip">
      <%= cl_image_tag car.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2><%=car.brand%> - <%=car.model%></h2>
          <h2><%=car.city%></h2>
          <p><%=car.color%> - <%=car.kilometreage%>km</p>
          <p>Autonomie : <%=car.autonomy%>km</p>
        </div>
        <h2 class="card-trip-pricing"><%=car.price%> €</h2>
      </div>
    </div>
    <%end%>
    <% end %>
  </div>
</div>
