
<div class="banner_index"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'vacances.jpg'%>);">
  <div class="container_index">
    <h1>Louez votre voiture</h1>
    <%= link_to "Retourner à l'accueil", "/", class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <div class="form-group mt-3">
    <div class="text">
      <%= simple_form_for [@car] do |f| %>
          <%= f.input :brand, class: "form-control", placeholder: "Audi", label:"Marque"%>
          <%= f.input :model, class: "form-control", placeholder: "Q8 e-tron", label: "Modèle" %>
          <%= f.input :color, class: "form-control", placeholder: "Blanche", label: "Couleur"  %>
          <%= f.input :city, class: "form-control", placeholder: "47 Rue Champfleuri, 63100 Clermont-Ferrand", label: "Adresse"  %>
          <%= f.input :price, class: "form-control", placeholder: "75", label: "Prix"  %>
          <%= f.input :autonomy, class: "form-control", placeholder: "523", label: "Autonomie"  %>
          <%= f.input :kilometreage, class: "form-control", placeholder: "100",label: "Kilométrage"   %>
          <%= f.input :photo, as: :file, class: "form-control", placeholder: "Ajoutez une photo de votre voiture" %>
          <%= f.submit "Publier", class: "btn btn-primary"%>
        <% end %>
    </div>
  </div>
</div>
