<div class="container">


  <div class="show-cards">

    <%= cl_image_tag(@car.photo.key, class:"car-photo" ) %>

    <div class="car-infos">
      <h1> <%= @car.brand %> - <%= @car.model %></h1>
      <ul>
        <li><i class="fa-sharp fa-solid fa-palette"></i>
          <p><%= @car.color %></p>
        </li>
        <li><i class="fa-sharp fa-solid fa-road"></i>
          <p><%= @car.kilometreage %>km</p>
        </li>
        <li><i class="fa-sharp fa-solid fa-battery-three-quarters"></i>
          <p><%= @car.autonomy %>km</p>
        </li>
      </ul>
      <div>
        <%= simple_form_for [@car, @booking], html:{data: {controller: "flatpicker", flatpicker_dates_unavailable_value: @dates_unavailable}} do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.submit "Confirm", class: "btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
