
<div class="container">


  <div class="show-cards">

    <%= cl_image_tag(@car.photo.key, class:"car-photo" ) %>

    <div class="car-infos">
      <h1> <%= @car.brand %> - <%= @car.model %></h1>
      <ul>
        <li><i class="fa-sharp fa-solid fa-palette"></i><p><%= @car.color %></p></li>
        <li><i class="fa-sharp fa-solid fa-road"></i><p><%= @car.kilometreage %>km</p></li>
        <li><i class="fa-sharp fa-solid fa-battery-three-quarters"></i><p><%= @car.autonomy %>km</p></li>
      </ul>
      <a class="btn-flat" href="">confirmer la réservation</a>
      <%= link_to "Delete car", car_path(@car), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger text-decoration-none"  %>

    </div>

  </div>

</div>
