<div class="container">

  <div class="show-cards">

    <div class="photo-map">
      <div class="photo-btn">
        <%= cl_image_tag(@car.photo.key, class:"car-photo" ) %>
        <%= link_to "x", car_path(@car), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-decoration-none" %>
      </div>
      <div style="width: 100%; height: 400px; margin: auto;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="car-infos">
      <h1> <%= @car.brand %> - <%= @car.model %></h1>
      <ul>
        <li><i class="fa-sharp fa-solid fa-location-pin"></i>
          <p><strong><%= @car.city %><strong></p>
        </li>
        <li><i class="fa-sharp fa-solid fa-palette"></i>
          <p><%= @car.color %></p>
        </li>
        <li><i class="fa-sharp fa-solid fa-road"></i>
          <p><%= @car.kilometreage %> km</p>
        </li>
        <li><i class="fa-sharp fa-solid fa-battery-three-quarters"></i>
          <p><%= @car.autonomy %> km</p>
        </li>
        <li><i class="fa-sharp fa-solid fa-money-bill-wave"></i>
          <p><%= @car.price %>€ / jour</p>
        </li>

      </ul>

        <%= simple_form_for [@car, @booking], html:{data: {controller: "flatpicker", flatpicker_dates_unavailable_value: @dates_unavailable}} do |f| %>
          <%# <input type="text" class="datepicker" hidden> %>
          <%= f.input :start_date, as: :string, required: false, input_html: { data: {flatpicker_target: "start"}}, wrapper_html: {class: "d-none"}  %>
          <%= f.input :end_date, as: :string, required: false, input_html: { data: {flatpicker_target: "end"}}, wrapper_html: {class: "d-none"}  %>

          <input type="text" name="" id="select-dates" class="datepicker form-control string optional" data-flatpicker-target="dates" data-action= "change->flatpicker#changeDate" hidden>

          <%= f.submit "Confirmer votre location", class: "btn-flat btn-booking", data: { controller: 'alert', action: 'click->alert#accept_show'}  %>
        <% end %>
        <div class="container_reviews">
          <div class="card_trip">
            <div class="d-flex justify-content-between">
              <div class="picture">
                <img src="https://media.istockphoto.com/id/1337144146/fr/vectoriel/vecteur-dic%C3%B4ne-de-profil-davatar-par-d%C3%A9faut.jpg?b=1&s=170667a&w=0&k=20&c=eYsURDWBMsbvhjRxVQ8-pgC0q4b04DSYbCMnY5OlH14=" alt="">
              </div>
              <div class="reviews">
                <h2>Simon</h2>
                <p>Top</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
