<!DOCTYPE html>
<html>
  <head>
    <title>L'essence C'est Trop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@800&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <div class="maintain_height">
      <% if controller_name == "pages"  %>
        <%= render "shared/navbar_home" %>
      <% else %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
    <footer>
      <div class="footer infos-footer decoration-none border-top">
        <div>
          <p>© 2022 L'essence c'est trop, Inc.ㅤ</p>
        </div>
        <div>
          <a href="/terms/privacy_policy">Confidentialitéㅤ</a>
          <a href="/terms/privacy_policy">-ㅤConditions généralesㅤ-</a>
          <a href="/terms/privacy_policy">ㅤInfos sur l'entreprise</a>
        </div>
      </div>
      <div class="logos-network">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-square-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
      </div>
    </footer>
  </body>

  <%# <footer class="container footer">
    <div class="footer">
      <div class="infos-footer">
        <div class="col-6">
          <p>Coucou</p>
        </div>
        <div class="col-6">
          <p>ohohohoho</p>
        </div>
      </div>
      <div class="text-center">
        <p>© 2022 L'essence c'est trop</p>
      </div>
    </div>
  </footer> %>



  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>
